html, body {
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Montserrat Alternates';
    font-weight: normal;
    font-style: normal;
    font-size: 1.5em;
}
h2{
    font-family: 'Montserrat Alternates';
    font-weight: 300;
    font-style: normal;
    font-size: 1.0em;
}
h3{
    font-family: 'Montserrat Alternates ExLight';
    font-weight: 200;
    font-style: normal;
    font-size: 0.8em;    
}

.hidden {
    display: none;
}

.app {
    background-color: #ffffff;
    height: 100%;
    margin: 0;
    padding: 0;
}

.screen {
    height: 100%;
    padding: 1%;
    position: relative;
}

#logo {
    transform: translate3d(-50%, 0, 0);
    margin: 0;
    position: absolute;
    left: 50%;
    top: 25%;
}

#app-name {
    transform: translate3d(-50%, 0, 0);
    margin: 0;
    position: absolute;
    left: 50%;
    bottom: 45%;
}

.slideDownTitle {
    animation-fill-mode: forwards;
    animation-name: slideDownTitle;
    animation-duration: 2s;
}

.slideUpLogo {
    animation-fill-mode: forwards;
    animation-name: slideUpLogo;
    animation-duration: 2s;
}

#home-buttons-cont {
    transform: translate3d(-50%, 0, 0);
    position: absolute;
    left: 50%;
    top: 45%;
}

#wrapper-iniciar {
    transform: translate3d(-50%, 0, 0);
    position: absolute;
    left: 50%;
    bottom: 25%;
}

.btn-home {
    display: block;
    margin: 15% auto;
}

.txtTitle{
    color: #ef4136;
    text-align: center;
    margin: 0.8em auto;
}

.txtSubtitle{
    color: #1b1464;
    text-align: center;
    margin: 0.3em;
}

#canvas{
    width: 300px;
    height: 300px;
    margin: 20px auto;
}

#draw-border{
    position: absolute;
}

.bottomMenu{
    position: fixed;
    bottom: 0;
    width: 100%;
}

#drawingTools{
    margin: 1em 0;
    display:flex;
    justify-content: space-around;
}

#draw-menu, #done-menu, #view-menu, #view-options, #record-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
    background-color: #ffffff;
}

.modalBox{
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); 
}

.pane{
    width: 40%;
    padding: 5%;
    margin: auto;
    align-self: center;
    text-align: center;
    border-radius: 20px;
    background-color: #ef4136;
    color: #ffffff;
}


.close-picker {
    font-size: 2em;
    cursor: pointer;
    display: inline-block;
    margin: auto;
    transform: translate(0, 25%);
    top: 50%;
}

#colorPreview{
    width: 50px;
    height: 50px;
    background-color: #000000;
    margin: 2em auto;
    border-radius: 100%;
}

#sliders-wrapper{
    margin: 1em;
}

.color-range {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;   
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.color-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #1b1464;
    cursor: pointer;
}
.color-range::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #1b1464;
    cursor: pointer;
}

#ok-draw h2{
    margin: 0;
    padding: 1em 0;
}

#ok-draw h2:first-child{
    border-bottom: 2px solid #ffffff;
}

#share{
    display: flex;
    justify-content: space-around;
}

.pane.hidden, .modalBox.hidden, #share.hidden, .screen.hidden{
    display: none;
}

#saved-wrapper{
    margin: 0.5em;
}

#confirm-wrapper{
    display: flex;
    justify-content: space-around;
    margin: 1.5em 0;
}

#confirm-wrapper i:first-child{
    border-right: 2px solid #ffffff;
}

#confirm-wrapper > i{
    width: 50%;
    height: 2em;
    display: flex;
}

#confirm-wrapper > i::before{
    align-self: center;
    margin: auto;
}

.thumbnail{
    border-radius: 20px;
    border: 2px dashed #1b1464;
    width: 65px;
    height: 65px;
}

.thumbnail-row, #view-cont{
    display: flex;
    justify-content: space-around;
    margin: 5% 0;
}

#thumbnails-cont, #records-cont{
    margin: auto;
    overflow-y: scroll;
    height: 65%;
    padding: 8%;
}

#image-view{
    border-radius: 20px;
    border: 2px dashed #1b1464;
    width: 300px;
    height: 300px;
    margin: auto;
}

.record{
    border-radius: 5px;
    border-radius: 20px;
    border: 2px dashed #1b1464;
    height: 40px;
    width: 200px;
    color: #ef4136;
    text-align: center;
    margin: 0.8em auto;
}

/* Animaciones */

@keyframes slideDownTitle {
    to {
        bottom: 10%;
    }
}

@keyframes slideUpLogo {
    to {
        top: 12%;
    }
}